<h1>Places</h1>

<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= place.name %></h5>
          <a href="/places/<%= place.id %>" class="btn btn-primary">View Entries</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @current_user %>
  <p>
    <%= link_to "New place", "/places/new", class: "btn btn-secondary" %>
  </p>
<% end %>